<form class="form-inline" action="">
    <input type="hidden" name="p" value="user_shifts">
    <div class="row">
        <div class="col-md-12">
            <h1>%title%</h1>
        </div>
        <div class="col-md-12">
			<button class="btn btn-info btn-sm hidden-print collapsed" style="margin-top: 20px; margin-bottom:10px" type="button"
                    data-toggle="collapse"
                    data-target="#collapseRoomSelect" aria-expanded="false"
                    aria-controls="collapseRoomSelect"
            >
                collapse/show filters
            </button>
            <div class="collapse" id="collapseRoomSelect">
                <div class="row">
                    <div class="col-xs-4 col-xxs-12">%room_select%</div>
                    <div class="col-xs-4 col-xxs-12">%type_select%</div>
                    <div class="col-xs-4 col-xxs-12">%filled_select%</div>
                </div>
                <div class="row hidden-print">
                    <div class="col-md-12" style="margin: 1em 0">
                        <p>%task_notice%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

%shifts_table%

<div class="hidden-print">
%ical_text%
</div>
